

body{
  background-image: url('https://images.pexels.com/photos/1276237/pexels-photo-1276237.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color:#FC4445;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
#calendar{
  margin: 40px;
}
.cancelDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancelBtn{
  border-radius: 3px;
  background-color: rgb(248, 230, 209);
  color: #FC4445;
  border-style: none;
}
.mainDiv{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.sessionsDiv{
  display: flex;
 width: 400px;
 padding: 10px;
 background-color: rgb(248, 230, 209);
 margin-bottom: 5px;
 border-radius: 3px;
}
   .sessionsDiv div{
    margin: 20px;
   }

   .linkDiv link{
   margin: 20px;
   }

   .btn{
    margin: 20px;
    color: #FC4445;
    background-color: rgb(248, 230, 209);
    border-radius: 3px;
    border-style: none;
   }

   .btnDiv{
    display: flex;
    justify-content: center;
   }

.input-group {
  display: flex;
  width: 400px;
  justify-content: center;
  margin: 30px;

}
.input-group label {
  /* display: block; */
  display: flex;
  text-align: left;
  margin: 20px;
  padding-right: 5px;
  color: #FC4445;
  font-weight: bold ;
}
.lineInput{
  /* display: block; */
  display: flex;
  text-align: left;
  margin: 15px;
  padding-left: 0px;
 background-color:rgb(248, 230, 209);                 
 border: none;
 border-bottom: 1px solid #FC4445; 
 outline: none;
 padding: 5px;
 border-radius: 3px;
}
.messageDiv{
  
  padding: 10px;
  text-align: center;
  background-color: rgb(248, 230, 209);
  width: 200px;
  height: 40px;
  border-radius: 3px;
  
}

/* calender css */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
