

body{
  background-image: url('https://images.pexels.com/photos/1276237/pexels-photo-1276237.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  color: rgb(28, 27, 27);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color:#FC4445;
}
.headerDiv{
  text-align: center;
}
.Link{
color: #FC4445;
margin-left: 20px;
text-decoration: none;
font-weight:bold ;
}
.linkSessionsVolunteers{
color: "#FC4445";
margin-left: 20;
text-decoration: "none";
font-weight: "bold";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
#calendar{
  margin: 40px;
}
.cancelDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancelBtn{
  border-radius: 3px;
  background-color: rgb(248, 230, 209);
  color: #FC4445;
  border-style: none;
}

.mainDiv{
  display: grid;
width: 100 vh;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.volunteersDiv{
  display: flex;
 width: 380px;
 padding: 10px;
 background-color: rgb(248, 230, 209);
 margin-bottom: 3px;
 border-radius: 3px;
 justify-content: center;
 align-items: center;
}
.mainVolunteersDiv{
margin-top: 0px;
padding-top: 0px;
}
   .volunteersDiv div{
    margin: 20px;
   }

   .linkDiv link{
   margin: 20px;
   }

   .btn{
    margin: 20px;
    color: #FC4445;
    background-color: rgb(248, 230, 209);
    border-radius: 3px;
    border-style: none;
   }

   .btnDiv{
    display: flex;
    justify-content: center;
   }


.lineInput{
 background-color:rgb(248, 230, 209);                 
 border: none;
 border-bottom: 1px solid #fff; 
 outline: none;
 border-radius: 3px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 0 auto;
  background-color:rgb(248, 230, 209);
}
.form-header {
  background-color: #FC4445;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
#headerH2{
  width: 300px; 
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #FC4445;
}
.submit-button {
  border: none;
  background-color: #FC4445;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: #FF6667;
}

.messageDiv{
  
  padding: 10px;
  text-align: center;
  background-color: rgb(248, 230, 209);
  width: 180px;
  height: 40px;
  border-radius: 3px;
}
.mainMessageDive{
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-calendar .react-calendar {
  background-color: rgb(248, 230, 209);
}

/* calender css */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
 
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
/* .react-calendar .react-calendar__tile {
  background-color: lightgreen;
} */

/* tile colour */
.react-calendar .green {
  background-color:  green;
}
.react-calendar .red {
  background-color:  red;
}
.react-calendar .orange {
  background-color:  orange;
}
.new{}